@import "tailwindcss";

@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/AmaticSC-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/AmaticSC-Bold.ttf") format("truetype");
	font-display: swap;
}

html,
body {
	overscroll-behavior-y: contain;
	font-family: "Amatic SC", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/*
background glow red
*/
.imposter::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	background-color: rgba(255, 0, 0, 0.75);
	opacity: 1;
	z-index: -1;
	filter: blur(40px);
	pointer-events: none;
	height: 30vh;
}

.crewmate::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	background-color: rgba(0, 184, 219, 0.75);
	opacity: 1;
	z-index: -1;
	filter: blur(40px);
	pointer-events: none;
	height: 30vh;
}