@import "tailwindcss";

@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/AmaticSC-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Amatic SC";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/AmaticSC-Bold.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Excalifont";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Excalifont-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "ShadowsIntoLight";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "ShadowsIntoLightTwo";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/ShadowsIntoLightTwo-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "VCR_OSD_MONO";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/VCR_OSD_MONO.ttf") format("truetype");
	font-display: swap;
}

html,
body {
	overscroll-behavior-y: contain;
	font-family: "ShadowsIntoLightTwo", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/*
background glow red
*/
.imposter::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	background-color: rgba(255, 0, 0, 0.75);
	opacity: 1;
	z-index: -1;
	filter: blur(40px);
	pointer-events: none;
	height: 30vh;
}

.crewmate::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	background-color: rgba(0, 184, 219, 0.75);
	opacity: 1;
	z-index: -1;
	filter: blur(40px);
	pointer-events: none;
	height: 30vh;
}


.progressbar[value] {
	--color:
		/* the progress color */
		linear-gradient(#fff8, #fff0),
		repeating-linear-gradient(135deg, #0001 0 10px, #0000 0 20px),
		#31f74f;
	--background: lightgrey;
	/* the background color */

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 10px;
	background: var(--background);
}

.progressbar[value]::-webkit-progress-bar {
	border-radius: 10px;
	background: var(--background);
}

.progressbar[value]::-webkit-progress-value {
	border-radius: 10px;
	background: var(--color);
}

.progressbar[value]::-moz-progress-bar {
	border-radius: 10px;
	background: var(--color);
}

.ejected {
	animation: spinOut 3s ease-in-out forwards;
}

@keyframes spinOut {
	0% {
		transform: rotate(0deg) scale(1);
	}

	20% {
		transform: rotate(0deg) scale(1);
	}

	100% {
		transform: rotate(720deg) scale(0);
	}

}